* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: rgb(0, 147, 233); */
  background: linear-gradient(160deg, rgba(0,147,233,1) 0%, rgba(128,208,199,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: inherit;
}

header {
  height: 15%;
  padding: 12px;
}

nav {
  height: 100%;
}

nav img {
  height: 100%;
}

footer {
  margin: 10px;
}



.socialMedias {
  font-size: 24px;
  text-align: center;
}

.darkModeButton button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  margin-top: 5px;

}
.darkModeButton img {
  width: auto;
  height: 22px;
  border-radius: 22px;
}

.darkModeButton button:hover {
  cursor: pointer;
}

.dark-mode {
  background: #0e0e10;
  color: rgb(229, 227, 232);
}


.debug {
  border: 1px dotted red;
}

.conteudotCard {
  box-shadow: 0px 8px 12px 3px rgb(0 0 0 / 14%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
  background-color: rgba(255, 255, 255, 0.774);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding: 18px 15px;
  margin: 15px;
}

.atividade {
  width: 100%;
  height: 80%;
  text-align: center;
  padding-top: 30%;
  font-size: 28px;
}

.github {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: black;
}


.atividade a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.atividade a:hover {
  box-shadow: inset 150px 0 0 0 #54b3d6;
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.conteudo-slider {
  height: 100%;
}

#slider-container {
  height: 300px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(55%);
  height: 30px;
  width: 30px;
  border-left: 8px solid rgba(255, 255, 255, 0.774);
  border-top: 8px solid rgba(255, 255, 255, 0.774);
}

#slider-container .btn:hover {
  transform: scale(1.2);
}

#slider-container .btn.inactive {
  border-color: rgba(255, 255, 255, 0.3);
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 60%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  display: grid;
  place-items: center;
}

#slider-container #slider .slide span {
  color: white;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 642px) {
  h2 {
    text-align: center;
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    text-align: center;
    font-size: 16px;
  }
}
