.vscode/*
.Modulo_1/Semana_8/Semana8/node_modules
Modulo_1/Semana_9/Exercicio_semanal/Semana9/node_modules
Modulo_1/Semana_9/Exercicio_semanal/Exerc-semana9/
Modulo_1/Semana_9/Exercicio_semanal/Semana10/node_modules
Modulo_1/Semana_9/Exercicio_semanal/curso-angular