<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="page='home'" >Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" (click)="page='preco'">Preços</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" (click)="page='info'">Informações</a>
            </li> 
        </ul>
        </div>
    </div>
</nav>

<div [ngSwitch]="page">
    <h2 *ngSwitchCase="'home'" >Estou na página de Home</h2>
    <h2 *ngSwitchCase="'preco'">Estou na página de Preços</h2>
    <h2 *ngSwitchCase="'info'">Estou na página de Informações</h2>
</div>

<!-- <ul>
    <li *ngFor="let array of arrayFotos">    
        <div class="card" style="width: 18rem;">
            <img src="{{ array.url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{ array.description }}</p>
            </div>
        </div>
    </li>
</ul> -->
