* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(0, 147, 233);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

a {
  color: inherit;
}

.socialMedias {
  font-size: 30px;
  text-align: center;
  padding-left: 5px;
}

.darkModeButton button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  margin-top: 5px;
}
.darkModeButton img {
  width: auto;
  height: 40px;
}

.dark-mode {
  background-color: black;
  color: white;
}


#logo {
  height: auto;
  width: 250px;
}

.debug {
  border: 1px dotted red;
}

.conteudotCard {
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%),
    0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
  background-color: rgba(255, 255, 255, 0.774);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding: 18px 15px;
  margin: 15px;
}

.atividade {
  width: 100%;
  height: 80%;
  text-align: center;
  padding-top: 30%;
  font-size: 28px;
}

.github {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: black;
}


.atividade a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.atividade a:hover {
  box-shadow: inset 150px 0 0 0 #54b3d6;
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 50px;
}

#slider-container {
  height: 400px;
  width: 85vw;
  max-width: 1400px;
  background: transparent;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(60%);
  height: 30px;
  width: 30px;
  border-left: 8px solid pink;
  border-top: 8px solid pink;
}

#slider-container .btn:hover {
  transform: scale(1.2);
}

#slider-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 60%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  background-color: transparent;
  display: grid;
  place-items: center;
}

#slider-container #slider .slide span {
  color: white;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 642px) {
  #devinhub {
    height: 90px;
    width: auto;
  }

  #logo {
    margin-top: 5px;
    height: auto;
    width: 90px;
  }

  h2 {
    text-align: center;
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}

@media only screen and (max-width: 375px) {
  #devinhub {
    height: 90px;
    width: auto;
  }

  #logo {
    margin-top: 5px;
    height: auto;
    width: 90px;
  }

  h2 {
    text-align: center;
    font-size: 16px;
  }
}
