<div class="list-group">
    <a *ngFor="let elemento of notificacoesFiltradas" [ngClass]="elemento.lido == true ? 'list-group-item list-group-item-action' : 'list-group-item list-group-item-action active'" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ elemento.titulo }}</h5>
        <small>{{ elemento.data }}</small>
      </div>
      <p class="mb-1">{{ elemento.subtitulo }}</p>
      <button (click)="mensagemLida(elemento.lido, elemento.index)">Lido: {{ elemento.lido }}</button>
    </a>

</div>