<div class="container">
  <app-navbar></app-navbar>
  <div class="d-flex justify-content-center  align-items-center teste">
    <form>
      <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name='email' [(ngModel)]="emailHtml" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
        <input type="password" class="form-control" id="exampleInputPassword1" name='password' [(ngModel)]="passHtml" >
      </div>
      <button type="button" (click)="salvaLocalStorage()" class="btn btn-primary">Submit</button>
    </form>
  
</div>
