<div class="container">
  <div class="d-flex justify-content-center  align-items-center teste">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Formulario</h5>
        <form onsubmit="event.preventDefault()">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" required>
          </div>
          <div class="mb-3">
            <label for="cargaHoraria" class="form-label">Carga horária de horas aula</label>
            <input type="number" class="form-control" id="cargaHoraria" required>
          </div>
          <div class="mb-3">
            <label for="escola" class="form-label">Escola</label>
            <input type="text" class="form-control" id="escola" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Materia Obrigatória</label>
          </div>
          <label for="select" class="form-label">Professor(a)</label>
          <select class="form-select mb-5" id="select" aria-label="Default select example">
            <option selected disabled>Selecione o professor(a)</option>
            <option value="Otavio">Otávio</option>
            <option value="Vivian">Vivian</option>
            <option value="Leandro">Leandro</option>
            <option value="Claudia">Cláudia</option>
          </select>

          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
